body {
    font-family: 'Comic Sans MS';
    text-align: center;
    background-color: gold;
}
button {
    padding: 8px 12px;
    font-size: 2.5rem;
    font-family: 'Comic Sans MS';
    cursor: pointer;
}
#add {
    background-color: lightgreen;
}
#sub {
    background-color: lightblue;
}
p {
    font-size: 2rem;
    display: inline-block;
}
